.myStyle {
  margin-top: 4px;
  text-align: center;
  font-weight: 500px;
  font-size: 28px;
}

.myStyle2 {
  text-align: center;
  font-weight: 400px;
  font-size: 18px;
  color: #696969;
  margin-bottom: 4px;
}
