.item1{
    display: flex;
    margin-left: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
  .name{
      font-size: 1.5rem;
  }
  .capacity{
      font-size: 1.5rem;
  }

  .info{
      font-size: 1rem;
  }
  .flex1{
    flex: 3;
    text-align: left;
    margin:0;
    padding:0;
  }
  
  .flex2{
    flex:1;
  }
